<footer class="footer">
  <div class="footer__top">
    <div class="footer__policy">
      <a class="footer__policy-link" href="#">PRIVACY POLICY</a>
    </div>

    <div class="footer__content">
      <img
        class="footer__content-image"
        src="./img/global/main-logo.svg"
        alt="Shine Logo"
      />
      <p class="footer__content-info">
        Shine Professional is a US-based brand producing organic cosmetics for
        women of all ages.
      </p>
      <ul
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.nav-menu.partial.html"
      ></ul>
      <ul
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.social-icons.partial.html"
      ></ul>
    </div>

    <div class="footer__terms">
      <a href="#" class="footer__terms-link">TERMS & CONDITIONS</a>
    </div>
  </div>

  <div class="footer__rights">
    <p class="footer__rights-text">Created by | All rights Reserved</p>
  </div>
</footer>
