<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cosmetic Box Website Template Demo</title>
    <link
      rel="shortcut icon"
      href="img/global/shortcut-item.png"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-hero.partial.html"
      ></section>
    </header>
    <main>
      <!--Marharyta Shchukina-->
      <section>
        <h2>What Is Inside the Box?</h2>
        <p>Learn more about the products included in our Shine Box.</p>
        <div
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.products-box-carousel.partial.html"
        ></div>
        <div
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.product-benefits.partial.html"
        >
        </div>
      </section>
      
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.ingredients.partial.html"
      ></section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.certificates.partial.html"
      ></section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.benefits.partial.html"
      ></section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.steps-of-using.partial.html"
      ></section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.partner.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.special-order.partial.html"
      ></section>
    </main>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
  </body>
</html>