.contacts__header {
  background-color: var(--header-order-button-bg-color);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 65px;
  font-family: var(--secondary-font-family);

  .contacts__title {
    color: rgb(249, 243, 238);
    font-size: 34px;
    font-weight: 400;
  }

  .contacts__menu {
    margin-top: 25px;
  }

  
  .contacts__menu {
    text-decoration: none;
    color: rgba(249, 243, 238, 0.53);
    font-size: 12px;
    letter-spacing: 1.2px;
  }

  .contacts__menu a:last-child {
    text-decoration: underline;
    font-weight: bold;
  }

  @media (min-width: 768px) {
    .contacts__title {
      font-size: 41px;
    }
    @media (min-width: 992px) {
      .contacts__title {
        font-size: 48px;
      }
    }
  }
}
