.wrapper {
  padding-top: 90px;
  padding-bottom: 30px;
  line-height: 25.5px;
}

.contacts__info {
  color: #668280;
  font-size: 17px;
  display: grid;

  .contacts__data {
    margin-bottom: 60px;

    padding-right: 30px;
  }

  .contacts__subtitle {
    color: var(--primary-900);
    font-size: 34px;
    font-weight: 400;
    font-family: var(--secondary-font-family);
  }

  .contacts__item {
    display: flex;
    margin-top: 20px;
  }

  .contacts__item p {
    margin-top: 0;
  }

  .contacts__pic-background {
    border-radius: 50%;
    background-color: rgba(50, 89, 86, 0.11);
    width: 50px;
    height: 50px;
    margin: 7.5px;
  }

  .contact_pic {
    width: 26px;
    margin: auto;
    text-align: center;
    padding-top: 13px;
  }

  .contact__info {
    margin: 7.5px;
    overflow-wrap: anywhere;
    font-weight: 400;
  }
}

@media (min-width: 750px) {
  .contacts__info {
    grid-template-columns: 1fr 1fr;
  }
}

.contacts__data p {
  margin-top: 25px;
  font-weight: 400;
  font-size: 17px;
}

.contacts__info p:first-child {
  font-size: 12px;
  color: rgb(50, 89, 86);
  letter-spacing: 1.2px;
}

.contact-form {
  background: rgb(243, 232, 226);

  .contact-form__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 38px;
  }

  .contact-form__form:first-child {
    padding-top: 50px;
  }

  .contact-form__input {
    height: 50px;
    border: 0;
    background-color: #f8efea;
    text-align: start;
    padding-left: 10px;
  }


  .contact-form__input--message {
    padding-top: 15px;
  }

  .contact-form__input--message {
    height: 194px;
  }

  .contact-form__button {
    border: 0;
    height: 53px;
    background-color: var(--primary-900);
    color: var(--pink-200);
    font-weight: 500;
    margin-bottom: 36px;
    cursor: pointer;
  }

  .contact-form__button:hover {
    background-color: rgb(34, 63, 60);
  }

  @media (min-width: 600px) {
    .contact-form {
      height: 520px;
    }
    
    .contact-form__input--message {
      height: 120px;
    }
  }
}
