.wrapper {
  padding: 90px 24px 30px 24px;
}

.contacts__info {
  color: #668280;
  font-size: 17px;

  .contacts__subtitle {
    color: rgb(50, 89, 86);
    font-size: 34px;
    font-weight: 400;
    font-family: var(--secondary-font-family);
  }

  .contacts__item {
    display: flex;
    margin-top: 20px;
  }

  .contacts__item p {
    margin-top: 0;
  }

  .contacts__pic-background {
    border-radius: 50%;
    background-color: rgba(50, 89, 86, 0.11);
    width: 50px;
    height: 50px;
    margin: 7.5px;
  }

  .contact_pic {
    width: 26px;
    margin: auto;
    text-align: center;
    padding-top: 13px;
  }

  .contact__info {
    margin: 7.5px;
    overflow-wrap: anywhere;
    font-weight: 400;
  }
}

.contacts__data p {
  margin-top: 25px;
  font-weight: 400;
  font-size: 17px;
}

.contacts__info p:first-child {
  font-size: 12px;
  color: rgb(50, 89, 86);
  letter-spacing: 1.2px;
}

.contact-form {
  margin-top: 12px;
  background: rgb(243, 232, 226);

  .contact-form__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .contact-form__input {
    height: 50px;
  }
}
