@import url(global.css);
@import url(global.header-nav.css);
@import url(global.nav-menu.css);
@import url(global.basket.css);
@import url(./global.header-order-button.css);
@import url(contacts.contact-info.css);
@import url(contacts.header-hero.css);
@import url(contacts.term-conditions.partial.css);
@import url(contacts.privacy-policy.partial.css);
@import url(./global.shopping-cart.css);

/* body {
  font-family: var(--primary-font-family);
  background-color: rgb(194, 204, 169);
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color:rgb(102,130,128)
} */

.contacts__body {
  background-color: var(--contacts-body-background-color);
  color: rgb(102, 130, 128);
}

.contacts__body a {
  text-decoration: none;
  color: rgb(102, 130, 128);
}
