@import "global.css";
@import "global.header-nav.css";
@import "global.nav-menu.css";
@import "contacts.contact-info.css";
@import "contacts.header-hero.css";

body {
  font-family: var(--primary-font-family);
  background-color: rgb(194, 204, 169);
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color:rgb(102,130,128)
}
