.menu {
  .menu__item {
    list-style: none;
    cursor: pointer;
    padding: 0 20px;

    .menu__item-link {
      font-size: 0.9rem;
      cursor: pointer;
      position: relative;
      text-decoration: none;
      color: var(--header-nav-menu-text-color);

      &:hover {
        color: var(--header-nav-menu-hover-text-color);

        &::before {
          width: 100%;
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--header-nav-menu-hover-text-color);
        transition: width 0.3s ease-in-out;
      }
    }
  }
}

@media (min-width: 990px) {
  .menu {
    display: flex;
    align-items: center;
  }
}
