.footer {
  background-color: #c8d0b1;
  text-align: center;
  margin-left: 0;
  padding: 0;
  height: 476.688px;
}

.footer__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 0px 226px; */
  padding: 80px 15px 15px;
  min-height: 415.69px;
  background-color: #c8cfb3;
}

@media (max-width: 768px) {
  .footer__main {
    flex-direction: column;
    align-items: stretch;
    min-height: 578.19px;
  }
}

.footer__privacy {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-bottom: 40px;

  min-width: 180px;
}
.footer__privacy-link {
  font-family: "Istok Web", sans-serif;
  font-size: 12.4px;
  text-transform: uppercase;
  font-weight: bold;
  color: #688380;
  letter-spacing: 0.7px
}

.footer__terms {
  display: flex;
  justify-content: center;

  padding-bottom: 40px;
  min-width: 180px;
  background-color: #c8cfb3;
}
.footer__terms-link {
  font-family: "Istok Web", sans-serif;
  font-size: 12.4px;
  text-transform: uppercase;
  font-weight: bold;
  color: #688380;
  letter-spacing: 0.7px
}

.footer__middle {
  place-items: center;
  max-width: 710px;
}

.footer__logo {
  display: block;
  width: 106px;
}

.footer__socials-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer__socials-item svg:hover {
  background-color: #688380;
}

.footer__menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: -12.5px -20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 906px) {
  .footer__menu-list {
    flex-direction: column;
  }
  .footer {
    height: 587.188px;
  }
}

.footer__menu-item {
  margin: 12.5px 20px;
}

.footer__menu-item a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  font-family: Chivo, sans-serif;
  color: #688380;
}

.footer__menu-item a:hover {
  text-decoration: underline;
  color: rgb(53 90 87);
}

.footer__menu {
  /* width: 80%;
  height: 83px; */
  display: flex;
  
}

.footer__content {
  /* margin-top: 30px;
  height: 76.5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__content-phrase {
  /* display: inline;
  text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Chivo, sans-serif;
  font-size: 17px;
  color: #688380;
  font-style: italic;
  height: auto;
  letter-spacing: 0.7px
  
}

.footer__line {
  background-color: #aab89f;
  max-width: 1200px;
  display: block;
  margin: auto;
  height: 1px;
  padding: 0px 40px;
}

.footer__copyright {
  background-color: #c8cfb3;
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  padding: 20px;
  box-sizing: border-box;
  /* height: 59.5938px; */
  font-family: Chivo, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(53 90 87);
}
