@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-bg-color: #c2cca8;
  --header-order-button-bg-color: #325956;
  --header-nav-menu-text-color: #577270eb;
  --order-button-text-color: #f1e6e1;

  --primary-font-family: "Chivo", sans-serif;
  --secondary-font-family: "Istok Web", sans-serif;

  font-family: var(--primary-font-family);
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header-nav-part {
  margin: 0 15px;
}
