.shopping-cart-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .shopping-cart {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 600px;
    background: #f1e6e1;
    padding: 16px;

    .shopping-cart__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .shopping-cart__title {
        font-size: 22px;
        color: #325956;
      }

      .shopping-cart__close-button {
        background: none;
        border: none;
        font-size: 24px;
        color: #333;
        cursor: pointer;
        transition: background-color 0.3s;
      }
    }

    .shopping-cart__content {
      display: flex;
      flex-direction: column;

      .shopping-cart__product {
        padding-top: 24px;

        .shopping-cart__product-header {
          font-size: 12px;
          margin-bottom: 16px;
        }

        .shopping-cart__product-info {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .shopping-cart__product-info-image {
            width: 47px;
          }

          .shopping-cart__product-name {
            font-weight: bold;
          }

          .shopping-cart__quantity-input {
            padding: 8px 12px;
            width: 75px;
            height: 30px;
            position: relative;
          }

          .shopping-cart__product-price {
            font-size: 18px;
          }
        }
      }

      .shopping-cart__summary {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;

        .shopping-cart__promo-link {
          font-size: 17px;
        }

        .shopping-cart__total {
          .shopping-cart__total-label {
            font-size: 18px;
          }

          .shopping-cart__total-amount {
            font-size: 18px;
          }
        }
      }

      .shopping-cart__form {
        padding-top: 24px;
        display: flex;
        flex-direction: column;

        .shopping-cart__form-header {
          margin-bottom: 8px;
          font-size: 12px;
        }

        .shopping-cart__form-group {
          display: flex;
          margin: 16px 0 24px;
          flex-direction: column;

          .shopping-cart_form-label {
            font-size: 17px;
            margin-top: 12px;

          }
          .required {
            color: #cc3833;
          }
          
          .shopping-cart__form-input {
            height: 50px;
            margin-top: 12px;
            padding: 15px 26px;
            border-radius: 3px;
            border-style: none;
            background: #f7efea;
          }

          .shopping-cart__form-textarea {
            height: 100px;
            resize: none;
          }
        }

        .shopping-cart__form-footer {
          margin-top: 32px;
          align-self: center;

          .shopping-cart__submit {
            font-size: 16px;
            height: 50px;
            width: 180px;
            border-style: none;
            background-color: darkgreen;
            color: white;
          }
        }
      }
    }
  }
}
