/* video_presentation.css */
.background__image {
  position: relative;
  background-color: #3c5859; /* Цвет фона */
  background: url('../img/video_presentation/background__image.png') 0% 39.67% / cover no-repeat, rgb(50, 89, 86);
  height: 450px;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.media__image {
  background: url('../img/video_presentation/image_default.svg') no-repeat left center / contain;
  width: 279px;
}

