.product-benefits {
  background-color: var(--prod-box-bg-color);
  display: grid;
  gap: 30px;
  padding: 20px;
}

@media (min-width: 770px) {
  .product-benefits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 55px;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
  }
}

.product-benefits__item {
  display: grid;
  grid-template-rows: 20% 40% 40%;
  gap: 15px;
  padding: 15px;
  margin: 15;
}

.product-benefits__title {
  font-family: var(--secondary-font-family);
  font-size: 1.375rem;
  color: var(--prod-box-title-color);
  text-align: justify;
}
.product-benefits__description {
  font-family: var(--primary-font-family);
  font-size: 1.062rem;
  color: var(--prod-box-carousel-text-prod-description-color);
  text-align: justify;
  margin-bottom: -15px;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.product-benefits__list-item {
  font-weight: bold;
  font-size: 0.875rem;
  font-family: var(--primary-font-family);
  color: var(--prod-box-title-color);
  line-height: 2;
}

.product-benefits__icon {
  width: 17.5px;
  height: auto;
  color: var(--primary-900);
}
