.product-box-carousel-section {
  background-color: var(--products-box-bg-color);
  padding: 90px 0 30px;
  margin: 0;
}
.container{
  max-width: 1200px;
  margin:auto;
}
.product-box-carousel-section__title {
  text-align: left;
  font-size: 2.125rem;
  font-weight: 400px;
  line-height: 1.1em;
  font-family: var(--secondary-font-family);
  color: var(--products-box-title-color);
  padding-top: 120px;
  margin: 15px;
  padding: 0 15px;
  letter-spacing: 1px;
}
.products-carousel__slides-container{
display: flex;
 flex-direction: column; 
 align-items: center;
}

@media (min-width: 770px) {
  .product-box-carousel-section__title {
    text-align: center;
    font-size: 3rem;
  }
}

.product-box-carousel-section__subtitle {
  text-align: left;
  font-size: 19px;
  font-family: var(--primary-font-family);
  color: var(--products-box-subtitle-color);
  font-weight: 400px;
  margin: 15px;
  padding: 0 15px;
  letter-spacing: 1px;
}

@media (min-width: 770px) {
  .product-box-carousel-section__subtitle {
    text-align: center;
  }
}

.products-carousel__slide {
  background-color: var(--products-box-slide-bg-color);
  display: grid;
  margin: 15px;
}
@media (min-width: 770px) {
  .products-carousel__slide {
  grid-template-columns: 1fr 1fr;
  }
}


.products-carousel__slide-image {
  width: 100%;
  height: 100%
}
.products-carousel__image {
  height: 100%;
  object-fit: cover;
}

.products-carousel__slide-text {
  text-align: justify;
  padding: 20px;
  margin: 10px;
}

.products-carousel__slide-text-title {
  color: var(--products-box-carousel-text-title-color);
  font-size: 12px;
  font-family: var(--secondary-font-family);
  letter-spacing: 1px;
}

.products-carousel__slide-text-product-name {
  font-size: 24px;
  font-family: var(--secondary-font-family);
  color: var(--products-box-carousel-text-product-name-color);
}

.products-carousel__slide-text-product-description {
  font-size: 17px;
  color: var(--primary-font-family);
  color: var(--products-box-carousel-text-product-description-color);
}

.products-carousel__characteristics {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 70px;
  column-gap: 50px;
  padding: 15px 15px 15px 0;
}

@media (min-width: 770px) {
  .products-carousel__characteristics {
    grid-template-columns: 100px 100px;
    grid-template-rows: 70px 70px;
  }
}

.products-carousel__characteristic-name {
  font-size: 0.9375rem;
  font-family: var(--primary-font-family);
  color: var(--products-box-carousel-text-charact-name-color);
}

.products-carousel__characteristic-description {
  font-family: var(--primary-font-family);
  font-size: 1.0625rem;
  font-style: italic;
  color: var(--products-box-carousel-text-charact-description-color);
}

.products-carousel__accordion-summary {
  font-family: var(--primary-font-family);
  color: var(--products-box-carousel-accordion-summury);
  font-size: 0.875rem;
  font-weight: bold;
}

.products-carousel__accordion-instructions,
.products-carousel__accordion-ingridients {
  font-style: italic;
  color: var(--products-box-carousel-accordion-text);
}
