.steps-of-using {
  background-color: var(--steps-of-using-bg-color);
  display: grid;
  gap: 20px;
  padding: 20px;
}

@media (min-width: 480px) {
  .steps-of-using {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }
}
@media (min-width: 770px) {
  .steps-of-using {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
  }
}

.steps-of-using__step {
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 35px;
  text-align: justify;
  position: relative;
}

.step-box-1 {
  background-image: url("../img/index/steps-of-using/step-box1.svg");
}

.step-box-2 {
  background-image: url("../img/index/steps-of-using/step-box2.svg");
}

.step-box-3 {
  background-image: url("../img/index/steps-of-using/step-box3.svg");
}
.step-box-4 {
  background-image: url("../img/index/steps-of-using/step-box4.svg");
}

.steps-of-using__title {
  font-family: var(--secondary-font-family);
  font-size: 1.375rem;
}
.step-title1 {
  color: var(--steps-of-using-title-brown);
}
.step-title2 {
  color: var(--steps-of-using-title-green);
}
.step-title3 {
  color: var(--steps-of-using-title-orange);
}
.step-title4 {
  color: var(--steps-of-using-title-purple);
}

.steps-of-using__description {
  font-family: var(--primary-font-family);
  font-size: 1.0625rem;
}
.step-description1 {
  color: var(--steps-of-using-description-brown);
}
.step-description2 {
  color: var(--steps-of-using-description-green);
}
.step-description3 {
  color: var(--steps-of-using-description-orange);
}
.step-description4 {
  color: var(--steps-of-using-description-purple);
}
.steps-of-using__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
